.App{
    text-align: center;
}
.BTN{
    min-height:100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size:calc(10px+2vmin);
    color:white;
}
.DETAIL{
    margin-top:100px;
    width:auto;
    display: flex;
    justify-content: center;
}
.left{
    width:30%;
    height:auto;
    float:left;
    margin:auto;
}
.right{
    width:70%;
    height:auto;
    float:right;
    margin:auto;
    font-size:15px;
}
*{
    box-sizing:border-box;
}